body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(25, 1fr);
  height: 100vh;
}
#logo{
  display: grid;
  grid-column: 12;
  grid-row: 1;
  fill: blue;

}
#CirlceOne{ 
  display: grid;
  align-items: center;
  justify-items: center;
  grid-column: 1/3;
  grid-row: 1/3;
  width: 300px;
  height: 300px;
  background: #00E2E2;
  border-radius: 50%;
  margin: 10px;
  padding: 0px;}


#CirlceTwo{ 
  display: grid;
  grid-column: 1/3;
  grid-row: 1/3;
  align-items: center;
  justify-items: center;
  width: 250px;
  height: 250px;
  background: red;
  border-radius: 50%}

#NavCv{
  display:grid;
  grid-column: 2/13;
  grid-row: 2;
  text-decoration: none;
  color: #fff;
  background-color: #00E2E2;
  justify-items: center;
  height: 100px;
}

#Nombre{
  display: grid;
  grid-column: 1/3;
  grid-row: 3;
  text-align: center;
  color: #fff;}

#Profecion{  
  display: grid;
  grid-column: 1/3;
  grid-row: 4;
  text-align: center;
  color: #fff;
height: 30px;
margin: 0px;}

#Acerca{  
  display: grid;
  grid-column: 1/3;
  grid-row: 5;
  text-align: center;
  color: #fff;}

#AcercaTex{  
  display: grid;
  grid-column: 1/3;
  grid-row: 6;
  text-align: center;
  color: #fff;
text-align:start;
margin-left:20px ;
margin-right:20px;
margin-top: 0px;}

.grap{
  width:400px auto; height:5px; background:#F15A29;
  border-radius: 100%;
  margin:10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  }

  #GrapOne{
    display: grid;
    grid-column: 1/3;
    grid-row: 7;
  }
  
#BColor{
  background-color: #030528;
  grid-column: 1/3;
  grid-row: 1/8;
  }


  /*fueentes */
  
  h1{font-size: 46px;
    font-family: bodoni-urw, serif;
    font-weight: 400;
    font-style: normal;}

h2{font-size: 40px;}

.titulos{
    font-size: 40px;
    font-family: bodoni-urw, serif;
    font-weight: 400;
    font-style: normal;}

h3{
    font-size: 34px;
    font-family: bodoni-urw, serif;
    font-weight: 500;
    font-style: normal;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px; 
    border: 0px;
    margin: 0%;
}

.infoEstudios h5 {
    font-family: bodoni-urw, serif;
    font-weight: 400;
    font-style: normal;
}

.oblique {
    font-size: 24px;
    font-family: bodoni-urw, serif;
    font-weight: 300;
    font-style: italic;
}

h6{
    font-size: 16px; 
    border: 0px;
    margin: 0%;}

p{
    font-size: 18px;
    font-family: raleway, 
    sans-serif;
    font-weight: 400;
    font-style: normal;
}

